<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="display.js" ></script>
<link href="style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="frame">
<div id="map"> </div>
</div>

<div id ="inventory">
<div id ="craft"></div>
<div id ="new"></div>
<div id ="item"></div>
<div id ="carry"></div>

<button id = "confirm" onclick ="get_item_id(this)">craft</button>
<button id = "cancel" onclick ="get_item_id(this)">cancel</button>
 
</div>


<div id ="status"><p>STATUS</p></div>

</body>
</html>
